<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="../Views/css/astyles.css">
</head>
<body>
    <header>
       <div class="menu-container">
            <div class="menu-imagens-esquerda">
                <img src="media/logo1.png" alt="Logo 1">
                <img src="media/logo2.png" alt="Logo 2">
            </div> 
            <nav>
                <ul class="menu">
                    <li><a href="ahomepage.html">HOMEPAGE</a></li>
                    <li><a href="asobre.html">SOBRE</a></li>
                    <li><a href="afeed.html">FEED</a></li>
                    <li><a href="arecursos.html">RECURSOS</a></li>
                    <li><a href="adesafios.html">DESAFIOS</a></li>
                    <li><a href="acertpar.html">CERTIFICADOS E PARCEIROS</a></li>
                    <li><a href="aconsultas.html">CONSULTAS</a></li>
                    <li><a href="aprojetos.html">PROJETOS</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <a href="ahomepage.html">
                <img src="media/home.png" alt="Símbolo home">
                </a>
                <a href="aperfil.html">
                    <img src="media/user.png" alt="Símbolo user">
                </a>
                <a href="atermos.html">
                    <img src="media/documento.png" alt="Símbolo documento">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="coluna-consulta">
        <h1 class="h1Cons">Consultas</h1><br>
        <h2 class="h2Cons">Clique no usuário para visualizar o perfil, realizar alterações ou excluir.</h2><br><br>
<div class="containerConsultas">
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario1</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario2</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario3</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario4</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario5</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario6</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario7</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario8</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario9</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario10</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario11</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario12</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario13</button>
    <button class="botaoCons" onclick="window.location.href='aconsultas2.html'">@usuario14</button>
</div>
        </div>
    </main>
</body>
<footer>
    <p>© Todos os direitos reservados - Triple Core</p>
</footer>
</html>
