<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafios</title>
    <link rel="stylesheet" href="../Views/css/styles.css">
</head>
    <header>
      <div class="menu-container">
           <div class="menu-imagens-esquerda">
               <img src="media/logo1.png" alt="Logo 1">
               <img src="media/logo2.png" alt="Logo 2">
           </div> 
           <nav>
               <ul class="menu">
                   <li><a href="ahomepage.html">HOMEPAGE</a></li>
                   <li><a href="asobre.html">SOBRE</a></li>
                   <li><a href="afeed.html">FEED</a></li>
                   <li><a href="arecursos.html">RECURSOS</a></li>
                   <li><a href="adesafios.html">DESAFIOS</a></li>
                   <li><a href="acertpar.html">CERTIFICADOS E PARCEIROS</a></li>
                   <li><a href="aconsultas.html">CONSULTAS</a></li>
                   <li><a href="aprojetos.html">PROJETOS</a></li>
               </ul>
           </nav>
           <div class="menu-imagens-direita">
               <a href="ahomepage.html">
               <img src="media/home.png" alt="Símbolo home">
               </a>
               <a href="aperfil.html">
                   <img src="media/user.png" alt="Símbolo user">
               </a>
               <a href="atermos.html">
                   <img src="media/documento.png" alt="Símbolo documento">
               </a>
           </div>
       </div>
   </header>
    <div class="container">
      <div class="desafios">
        <h2>DESAFIOS</h2>
        <div class="item">
          <fieldset>
            <style>
              fieldset{
                padding: 10px;
              }
            </style>
            <i><input type="checkbox" name="" id="" /></i>
            <i class="fas fa-recycle"> </i>
            <p>
              <strong> REAPROVEITAMENTO CRIATIVO PARA O LAR </strong>
              <span> 5 N </span>
            </p>
            <p>
              Você deve criar um novo produto ou arte para a sua casa por meio de
              materiais reciclados ou resíduos. Por exemplo, transformar garrafas
              plásticas em vasos de flor ou móveis.
            </p>
            <p>
              <strong> Meta: </strong>
              Incentivar a criatividade e a conscientização sobre o desperdício.
            </p>
          </div>
          </fieldset>
        <div class="item">
          <fieldset>
            <i><input type="checkbox" name="" id="" /></i>
            <i class="fas fa-book"> </i>
            <p>
              <strong> EDUCAÇÃO CIRCULAR </strong>
              <span> 5 N </span>
            </p>
            <p>
              Você deve organizar uma campanha de conscientização sobre economia
              circular por meio de materiais educativos, como cartazes, vídeos ou
              apresentações, para ensinar outros sobre a importância da
              sustentabilidade e como adotar práticas circulares no dia a dia.
            </p>
            <p>
              <strong> Meta: </strong>
              Ensinar a todos sobre a importância da sustentabilidade e como
              adotar práticas circulares.
            </p>
          </fieldset>
          <fieldset>
            <strong>COMO CONQUISTAR OS SEUS NÚCLEON?</strong>
            <p>
            Para ganhar os tickets Núcleon, os usuários devem completar os desafios disponíveis em até 07 dias, com valor de 05 pontos cada um. Para que esses pontos sejam validados, é necessário compartilhar as conquistas no feed com a #meudesafio. 
            De acordo com sua contribuição, você recebe um selo acompanhado de um certificado.
            Isso não apenas incentiva a interação entre os jogadores, mas também promove um senso de colaboração e engajamento.
            </p>
          </fieldset>
        </div>
      </div>
      <div class="selos">
        <h2>SELOS</h2>
        <div class="item">
          <img
            alt="Selo Ciclo Vivo"
            height="100"
            src="media/selo1.png"
            width="100"
          />
          <p>
            Selo Ciclo Vivo
            <span> 50 N </span>
          </p>
        </div>
        <div class="item">
          <img
            alt="Selo de Impacto Verde"
            height="100"
            src="media/selo2.png"
            width="100"
          />
          <p>
            Selo de Impacto Verde
            <span> 150 N </span>
          </p>
        </div>
        <div class="item">
          <img
            alt="Selo de Resiliência Ecológica"
            height="100"
            src="media/selo3.png"
            width="100"
          />
          <p>
            Selo de Resiliência Ecológica
            <span> 300 N </span>
          </p>
        </div>
      </div>
      <div class="ranking">
        <h2>RANKING</h2>
        <div class="item">
          <span>
            <i class="fas fa-trophy" style="color: gold"> </i>
            @vecchi
          </span>
          <span> 500 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-medal" style="color: silver"> </i>
            @anacarol
          </span>
          <span> 250 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-award" style="color: bronze"> </i>
            @marlonfg
          </span>
          <span> 100 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @emanuelle
          </span>
          <span> 90 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @victormr
          </span>
          <span> 75 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @gabriella
          </span>
          <span> 70 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @camilla
          </span>
          <span> 65 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @pedrord
          </span>
          <span> 60 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @bianca
          </span>
          <span> 50 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @marcela
          </span>
          <span> 40 N </span>
        </div>
        <div class="item">
          <span>
            <i class="fas fa-user-circle"> </i>
            @miguelfort
          </span>
          <span> 25 N </span>
        </div>
        <div class="reset">
          <button>RESETAR PONTUAÇÕES</button>
        </div>
        <div class="new-challenge">
          <h3>Crie os novos desafios!</h3>
          <input placeholder="Digite o novo desafio" type="text" />
          <button>COMPARTILHE</button>
        </div>
      </div>
    </div>
    <div>
    </div>
    <footer>
      <p>© Todos os direitos reservados - Triple Core</p>
    </footer>
  </body>
</html>
