<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="../style/astyles.css">
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="menu-imagens-esquerda">
                <img src="logo1.png" alt="Logo 1">
                <img src="logo2.png" alt="Logo 2">
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="index.html">HOMEPAGE</a></li>
                    <li><a href="sobre.html">SOBRE</a></li>
                    <li><a href="feed.html">FEED</a></li>
                    <li><a href="index.html">RECURSOS</a></li>
                    <li><a href="desafios.html">DESAFIOS</a></li>
                    <li><a href="index.html">CERTIFICADOS E PARCEIROS</a></li>
                    <li><a href="consultas.html">CONSULTAS</a></li>
                    <li><a href="projetos.html">PROJETOS</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <img src="home.png" alt="Logo 3">
                <img src="user.png" alt="Logo 4">
                <img src="documento.png" alt="Logo 5">
            </div>
        </div>
    </header>
    <main>
        <div class="coluna-esquerda">
            <h1>ECONOMIA CIRCULAR</h1>
            <h2>Reinventando o consumo para um futuro onde nada se perde e tudo se transforma.</h2><br><br>
            <h4>O QUE É?</h4>
            <p>A economia circular é um modelo econômico que tem como objetivo reduzir o
                desperdício e incentivar a reutilização, reciclagem e reutilização dos materiais. a
                economia circular visa prolongar a vida útil dos produtos e materiais, minimizando o
                impacto ao ambiente e incentivando a sustentabilidade. Ela é inovadora e eficiente,
                e com a colaboração entre empresas, consumidores e das comunidades podemos
                contar com um futuro sustentável.</p>
            <h4>PARA QUE SERVE?</h4>
            <p>A produção linear gera desperdício de recursos, poluição e impactos
                ambientais devido ao descarte excessivo e à extração contínua de materiais. Em
                contraste, a economia circular promove a reutilização e reciclagem, reduzindo
                resíduos e diminuindo a pressão sobre os recursos naturais.
                
                Além de mitigar mudanças climáticas ao incentivar a eficiência energética e a
                redução de emissões, ela também combate a obsolescência programada ao
                valorizar o design durável e reparável. Ao incentivar o consumo consciente e
                modelos de negócios sustentáveis, a economia circular cria oportunidades
                econômicas inclusivas, contribuindo para a redução das desigualdades sociais.</p>
        </div>
        <div class="coluna-direita">
            <div class="imagem">
                <img src="ec1.png" alt="Imagem 1">
            </div>
            <div class="imagem">
                <img src="ec2.png" alt="Imagem 2">
            </div>
        </div>
    </main>
</body>
<footer>
    <p>SENAI - LIVIA CLEMENTE</p>
</footer>
</html>
