<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage ADM</title>
    <link rel="stylesheet" href="../Views/css/astyles.css">
</head>
<body>
    <header>
       <div class="menu-container">
            <div class="menu-imagens-esquerda">
                <img src="media/logo1.png" alt="Logo 1">
                <img src="media/logo2.png" alt="Logo 2">
            </div> 
            <nav>
                <ul class="menu">
                    <li><a href="ahomepage.html">HOMEPAGE</a></li>
                    <li><a href="asobre.html">SOBRE</a></li>
                    <li><a href="afeed.html">FEED</a></li>
                    <li><a href="arecursos.html">RECURSOS</a></li>
                    <li><a href="adesafios.html">DESAFIOS</a></li>
                    <li><a href="acertpar.html">CERTIFICADOS E PARCEIROS</a></li>
                    <li><a href="aconsultas.html">CONSULTAS</a></li>
                    <li><a href="aprojetos.html">PROJETOS</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <img src="media/home.png" alt="Símbolo home">
                <img src="media/user.png" alt="Símbolo user">
                <img src="media/documento.png" alt="Símbolo documento">
            </div>
        </div>
    </header>
    <main>
        <div class="grid-container2">
            <section>
                <h1>VIDEOS</h1>
                <div>
                    <p>O que é economia circular e como ela pode resolver a atual crise do lixo?</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/2JJdIEMvm78?si=AJFFdzeLNf4MZN0-" title="Acúmulo de resíduos" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                <div>
                    <p>Economia Circular</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/neKlDYCfels?si=2SnUy-0UUOqZEnto" title="Economia Circular" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                <div>
                    <p>4 formas de fazer a economia circular</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/ExH6q5p61eg?si=dXji6Y1mEy3SVPqC" title="4 formas de fazer economia circular" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                <div class="input-container">
                    <p>Envie novos recursos!</p>
                    <form action="#" method="post" enctype="multipart/form-data">
                        <textarea 
                            name="new-resource" 
                            id="new-resource" 
                            rows="4" 
                            placeholder="Escreva sua sugestão aqui..."
                            required></textarea>
                        <div class="input-actions">
                            <button type="submit" class="botaoin">COMPARTILHE</button>
                        </div>
                    </form>
                </div>
            </section>

            <section>
                <h1>LIVROS</h1>
                <div>
                    <h4>Economia Circular</h4>
                    <p>Conceitos e estratégias para fazer negócios de forma mais inteligente, sustentável e lucrativa</p>
                    <img src="media/livro1.png" alt="Livro 1" style="width:100%; height:auto;">
                </div>
                <div>
                    <h4>Economia Circular</h4>
                    <p>Uma Rota Para a Sustentabilidade</p>
                    <img src="media/livro2.png" alt="Livro 2" style="width:100%; height:auto;">
                </div>
                <div>
                    <h4>Economia Circular</h4>
                    <p>O mundo rumo à quinta revolução industrial</p>
                    <img src="media/livro3.png" alt="Livro 3" style="width:100%; height:auto;">
                </div>
            </section>

            <section>
                <h1>LISTAS</h1>
                <h4 class="marcadores">Embalagens Sustentáveis</h4>
                <ul>
                    <li>Marcas que proporcionam embalagens retornáveis ou biodegradáveis.</li>
                    <li>Produtos que não possuem embalagem ou com embalagens reutilizáveis.</li>
                    <li>Itens que vendem refis.</li>
                </ul>
                <br>

                <h4 class="marcadores">Materiais para Reutilizar e Reciclar</h4>
                <ul>
                    <li>Identificar materiais comuns que podem ser reutilizados: vidro, alumínio, papelão e plásticos.</li>
                    <li>Arranjar maneiras de reciclá-los ou usá-los em novos produtos, como porta-lápis, vasinhos de plantas, brinquedos, entre outros.</li>
                </ul>
                <br>

                <h4 class="marcadores">Materiais para Reutilizar e Reciclar</h4>
                <ul>
                    <li>Identificar materiais comuns que podem ser reutilizados: vidro, alumínio, papelão e plásticos.</li>
                    <li>Arranjar maneiras de reciclá-los ou usá-los em novos produtos, como porta-lápis, vasinhos de plantas, brinquedos, entre outros.</li>
                </ul>
                <br>

                <h4 class="marcadores">Como implementar seu lar?</h4>
                <ul>
                    <li>Criar composteiras caseiras para os resíduos orgânicos.</li>
                    <li>Kits de cultivo e montagem de hortas verticais.</li>
                </ul>
                <br>

                <h4 class="marcadores">Iniciativas para comunidades</h4>
                <ul>
                    <li>Feiras de trocas, como roupas, livros e objetos.</li>
                    <li>Coleta comunitária de resíduos orgânicos.</li>
                    <li>Hortas comunitárias.</li>
                </ul>

            </section>


            <section>
                <h1>SITES</h1>
                <h4 class="marcadores">Ecostartup Simulador</h4>
                <p>Oferecem um simulador para visualizar como práticas de economia circular podem ser aplicadas na área de negócios.</p>
                <ul>
                    <li>"Design regenerativo".</li>
                    <li>Ciclos de produtos.</li>
                </ul>
                <br>
                <a href="simulador.ecostartup.pt" target="_blank">simulador.ecostartup</a>
                <br>
                <img class="imagemsec" src="media/ecostart.png" alt="Livro 1" style="width:100%; height:auto;">
                <br><br>

                <h4>Ellen MacArthur Foundation</h4>
                <p>Oferecem tutoriais, estudos de caso e recursos educativos na implementação práticas circulares em diversas áreas.</p>
                <br>
                <a href="https://www.ellenmacarthurfoundation.org" target="_blank">ellenmacarthurfoundation</a>
                <br>
                <img class="imagemsec" src="media/ellen.png" alt="Livro 1" style="width:100%; height:auto;">
                <br><br>

                <h4>Zero Waste Lab</h4>
                <p>Oferecem workshops e guias sobre compostagem, reciclagem e fabricação de produtos sustentáveis, focando em diminui o desperdício e reaproveitar materiais locais. </p>
                <br>
                <a href="https://zerowastelab.pt/home.php" target="_blank">zerowastelab</a>
                <img class="imagemsec" src="media/zerowaste.png" alt="Livro 1" style="width:100%; height:auto;">
                <br><br>

            </section>
        </div>
    </main>

    <footer>
        <p>© Todos os direitos reservados - Triple Core</p>
    </footer>
</body>
</html>
