<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../Views/css/1.css">
</head>
<body>
    <div class="container">
        <br><br><br>
        <div class="f1">
        <h1 class="title">CADASTRE-SE</h1>
        <br>
        
        <div class="form-box">

           <h3 class="t1">CPF</h3>
           <br>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="XXX.XXX.XXX-XX" required>
            </div>
            <br>
            <h3 class="t2">TELEFONE</h3>
            <br>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="(XX) XXXXX-XXXX " required>
            </div>
            <h3 class="t3">E-MAIL</h3>
            <br>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Usuario@gmail.com" required>
            </div>
            <h3 class="t4">NOME DE USUARIO</h3>
            <br>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Username" required>
            </div>
            <h3 class="t5">NOME EXIBIDO</h3>
            <br>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Exibition Name" required>
            </div>
            <h3 class="t6">SENHA</h3>
            <br>
            <div class="input-group">
                <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Password" required>
            </div>
           <br>
            <p class="instructions2"><p>Ou <a href="uhomepage.html">Faça login</a></p></p>
         

        </div>
        <a href="clogin.html"><button class="submit-btn"><p> ENTRE</p></button></a>
        <div class="logo">
            <img src="media/logo1.png" alt="Logo" class="logo-img">
        </div>
    </div>

    <div class="f2">
        <img src="media/logo2.png" alt="Descrição da imagem" class="f2-image">
        <h3 class="f2-text">Bem-vindo(a)! Por favor, faça seu cadastro para começar.</h3>
    </div>
</div>
</body>
</html>
