<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="css/2.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Confirmação de cadastro</h1>
        <div class="form-box">
            <p class="instructions">Seu cadastro foi concluído com sucesso! Agora você pode acessar todas as funcionalidades disponíveis.</p>
            <div class="input-group">
            <button class="submit-btn" onclick="location.reload()">ENTRE</button>
            <br><br><br><br><br>
            <img src="media/logo1.png" alt="Imagem" class="centered-image">

        </div>
    </div>
</body>
</html>