<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação ADM</title>
    <link rel="stylesheet" href="css/3.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Administrador</h1>
        <div class="form-box">
            <p class="instructions">Seu código foi validado com sucesso. Agora você pode acessar a plataforma como administrador!</p>
            <div class="input-group">
            <a href="ahomepage.html"><button class="submit-btn"><p> ENTRE</p></button></a>

        </div>
        <img src="media/logo1.png" alt="Imagem" class="centered-image">
    </div>
</body>
</html>
