<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realize cadastro</title>
    <link rel="stylesheet" href="css/4.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Faça seu cadastro para continuar</h1>
        <div class="form-box">
            <p class="instructions">Você não possui acesso a esta página. Para continuar, por favor, vá até a página de cadastro.</p>
            <div class="input-group">
            <button class="submit-btn" onclick="location.reload()">CADASTRO</button>

        </div>
        <img src="media/logo1.png" alt="Imagem" class="centered-image">
    </div>
</body>
</html>
