<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/5.css">
</head>
<body>
    <div class="container">
        <div class="f1">
        <h1 class="title">login</h1>
        <br><br><br>
        <h3 class="title2"><p>ou<a href="ccadastro.html"> cadastre-se</a></p></h3>
        
        <div class="form-box">
            
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="input-group">
                <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Senha" required>
            </div>
           
            <p class="instructions"><p><a href="cloginadm.html">Login de administrador</a></p></p>
            <p class="instructions2"><p><a href="crec.html">Esqueceu a senha?</a></p></p>
         

        </div>
        <a href="uhomepage.html"><button class="submit-btn"><p> ENTRE</p></button></a>

<img src="media/logo1.png" alt="Logo" class="logo">
    </div>
    <div class="f2">
        <img src="media/logo2.png" alt="Imagem centralizada" class="logo-escrita">
            <h3 class="texto-abaixo">Bem-vindo(a)! Por favor, faça seu login para começar.</h3>
        </div>
        
    </div>
        
    </div>
</div>
</body>
</html>
