<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ADM</title>
    <link rel="stylesheet" href="css/6.css">
</head>
<body>
    <div class="container">
        <h1 class="title">ADMINISTRADOR</h1>
        <div class="form-box">
            <p class="instructions">Faça seu login para a verificação!</p>
            <div class="input-group">
                <input type="email" id="nova-senha" name="nova-senha" placeholder="E-mail" required>
            </div>
            <div class="input-group">
                <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Senha" required>
            </div>
            <a href="cconfirmadm2.html"><button class="submit-btn"><p> ENVIAR</p></button></a>

        </div>
        <img src="media/logo1.png" alt="Imagem" class="centered-image">
    </div>
</body>
</html>
