<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    <link rel="stylesheet" href="css/9.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Pedido para troca de senha enviado</h1>
        <div class="form-box">
            <p class="instructions">Enviamos um pedido de troca de senha para o E-mail cadastrado.</p>
            <div class="input-group">
                <a href="clogin.html"><button class="submit-btn"><p>LOGIN</p></button></a>

        </div>
        <img src="media/logo1.png" alt="Imagem" class="centered-image">
    </div>
</body>
</html>
