<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
    <link rel="stylesheet" href="css/8.css">
</head>
<body>
    <div class="container">
        <h1 class="title">RECUPERAÇÃO DE SENHA</h1>
        <div class="form-box">
            <p class="instructions">Insira seu e-mail para que possamos enviar a troca de senha.</p>
            <div class="input-group">
                <input type="email" id="nova-senha" name="nova-senha" placeholder="usuario@gmail.com" required>
            </div>
            <a href="crec2.html"><button class="submit-btn"><p>Enviar</p></button></a>

        </div>
        <img src="media/logo1.png" alt="Imagem" class="centered-image">
    </div>
</body>
</html>
