<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../Views/css/styles.css">
</head>
<body>
    <header>
       <div class="menu-container">
            <div class="menu-imagens-esquerda">
                <img src="media/logo1.png" alt="Logo 1">
                <img src="media/logo2.png" alt="Logo 2">
            </div> 
            <nav>
                <ul class="menu">
                    <li><a href="uhomepage.html">HOMEPAGE</a></li>
                    <li><a href="usobre.html">SOBRE</a></li>
                    <li><a href="ufeed.html">FEED</a></li>
                    <li><a href="urecursos.html">RECURSOS</a></li>
                    <li><a href="udesafios.html">DESAFIOS</a></li>
                    <li><a href="ucertpar.html">CERTIFICADOS E PARCEIROS</a></li>
                    <li><a href="uprojetos.html">PROJETOS</a></li>
                </ul>
            </nav>
            <div class="menu-imagens-direita">
                <a href="uhomepage.html">
                <img src="media/home.png" alt="Símbolo home">
                </a>
                <a href="uperfil.html">
                    <img src="media/user.png" alt="Símbolo user">
                </a>
                <a href="utermos.html">
                    <img src="media/documento.png" alt="Símbolo documento">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="coluna-esquerda">
            <h1>ECONOMIA CIRCULAR </h1>
            <h2>Reinventando o consumo para um futuro onde nada se perde e tudo se transforma.</h2><br><br>
            <h4>DO QUE SE TRATA?</h4>
            <br>
            <p>A economia circular é um modelo econômico que tem como objetivo reduzir o
                desperdício e incentivar a reutilização, reciclagem e reutilização dos materiais. a
                economia circular visa prolongar a vida útil dos produtos e materiais, minimizando o
                impacto ao ambiente e incentivando a sustentabilidade. Ela é inovadora e eficiente,
                e com a colaboração entre empresas, consumidores e das comunidades podemos
                contar com um futuro sustentável.</p>
            <br>
            <h4>PARA QUE SERVE?</h4>
            <br>
            <p>A produção linear gera desperdício de recursos, poluição e impactos
                ambientais devido ao descarte excessivo e à extração contínua de materiais. Em
                contraste, a economia circular promove a reutilização e reciclagem, reduzindo
                resíduos e diminuindo a pressão sobre os recursos naturais.
                
                Além de mitigar mudanças climáticas ao incentivar a eficiência energética e a
                redução de emissões, ela também combate a obsolescência programada ao
                valorizar o design durável e reparável. 
            <br> <br>
                Ao incentivar o consumo consciente e
                modelos de negócios sustentáveis, a economia circular cria oportunidades
                econômicas inclusivas, contribuindo para a redução das desigualdades sociais.</p>
        </div>
        <div>
            <button class="contact" onclick="window.location.href='ufaleconosco.html'">FALE CONOSCO</button>
        </div>
        <div class="coluna-direita">
            <div class="imagem">
                <img src="media/ec1.png" alt="Imagem 1">
            </div>
            <div class="imagem">
                <img src="media/ec2.png" alt="Imagem 2">
            </div>
        </div>
    </main>
</body>
<footer>
    <p>© Todos os direitos reservados - Triple Core</p>
</footer>
</html>
