<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="../Views/css/styles.css">
</head>
<body>
    <header>
        <div class="menu-container">
             <div class="menu-imagens-esquerda">
                 <img src="media/logo1.png" alt="Logo 1">
                 <img src="media/logo2.png" alt="Logo 2">
             </div> 
             <nav>
                 <ul class="menu">
                     <li><a href="uhomepage.html">HOMEPAGE</a></li>
                     <li><a href="usobre.html">SOBRE</a></li>
                     <li><a href="ufeed.html">FEED</a></li>
                     <li><a href="urecursos.html">RECURSOS</a></li>
                     <li><a href="udesafios.html">DESAFIOS</a></li>
                     <li><a href="ucertpar.html">CERTIFICADOS E PARCEIROS</a></li>
                     <li><a href="uprojetos.html">PROJETOS</a></li>
                 </ul>
             </nav>
             <div class="menu-imagens-direita">
                <a href="uhomepage.html">
                <img src="media/home.png" alt="Símbolo home">
                </a>
                <a href="uperfil.html">
                    <img src="media/user.png" alt="Símbolo user">
                </a>
                <a href="utermos.html">
                    <img src="media/documento.png" alt="Símbolo documento">
                </a>
            </div>
         </div>
     </header>
    <main>
        <div class="grid-container">
            <!-- Coluna Esquerda -->
            <div class="coluna-esquerda">
                <div class="perfil">
                    <div class="perfil-header">
                        <h1>USUARIO</h1>
                    </div>
                    <div class="informacoes">
                        <div class="campo">
                            <h4>Nome exibido</h4>
                            <p>Usuário</p>
                        </div>
                        <div class="campo">
                            <h4>Nome de usuário</h4>
                            <p>@usuario</p>
                        </div>
                        <div class="campo">
                            <h4>E-mail</h4>
                            <p>usuario@gmail.com</p>
                        </div>
                        <div class="campo">
                            <h4>Telefone</h4>
                            <p>(99) 99999-9999</p>
                        </div>
                        <div class="campo">
                            <h4>CPF</h4>
                            <p>999.999.999-99</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Coluna Direita -->
            <div class="coluna-direita-p">
                <div class="imagem">
                    <img src="media/fotouser.png" alt="Imagem 1">
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <p>© Todos os direitos reservados - Triple Core</p>
</footer>
</html>
