@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Impede rolagem */
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center; /* Fica na horizontal do centro */
  align-items: center;
  gap: 20px;
  text-align: center;
  font-family: "Koulen", serif;
}

.centered-image {
  width: 200px; /* Ajuste o tamanho conforme necess치rio */
  margin-top: 105px; /* Dist칙ncia entre o formul치rio e a imagem */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 70px;
  color: #000000;
  margin-top: 20px; /* Dist칙ncia de 20px do topo */
  margin-bottom: -80px; /* Ajuste de margem inferior */
  font-family: "Bebas Neue", sans-serif;
}

.form-box {
  background-color: #EBE4F2;
  padding: 33px;
  border-radius: 1px;
  width: 500px;
  height: 300px;
  border: 1px solid;
  margin: 0 auto;
  transform: translateY(60px);
}

.instructions {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  color: #000000;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 0px;
  font-size: 14px;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.input-group input::placeholder {
  color: #000000;
  font-style: italic;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #71568C;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #906db2;
}
